<html>
    <head><title>ASK QUESTION</title></head>
    <link rel = "stylesheet" href = "{{url_for('static' , filename = 'css/style.css')}}">
    <body bgcolor="lightyellow">
        <h1 class = "heading" style="background-image: url('{{url_for('static' , filename = 'images/header_bg.png')}}');"><center>SLAM BOOK</center></h1>
        <ul class = "topbar">
            <li><a href = "/home.html"><b>Home</b></a></li>
            <li><a href = "/search.html"><b>Search</b></a></li>
            <li><a href = "/login.html"><b>Log In</b></a></li>
            <li><a href = "/signup.html"><b>Sign Up</b></a></li>
        </ul>
        <center>


            ask question
            <center>
                <form method = "POST" action = "/ask_questions.html">
                    <center><h2>QUESTIONS</h2></center>
                    <br>
                    <p>ENTER QUESTION : 
                    <input type="text" name = "question" style="width:70em;">
                    </p><br>
                    <center>
                        <button type = "submit" class = "submit_button" style = "font-size:15">ADD QUESTION</button>
                    </center>
                </form>
            </center>
            <center>
            <form method = "POST" action = "/ask_questions.html">
                <center><h3><u>LIST OF QUESTIONS</u></h3></center>
                <br>
                {{msg}}
                <br>
                <center>
                    <button type = "submit" class = "submit_button" style = "font-size:15">SUBMIT</button>
                </center>
            </form>
            </center>

    </body>
</html>
